Presentation/Schemas/course.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="Course">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="id" type="xs:int" minOccurs="0"/>
        <xs:element name="courseName">
	        <xs:simpleType>
		        <xs:restriction base="xs:string">
			        <xs:minLength value="2"/>
			        <xs:maxLength value="50"/>
		        </xs:restriction>
	        </xs:simpleType>
        </xs:element>
        <xs:element name="teacherId" type="xs:int"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>