Presentation/Schemas/enrollment.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="Enrollment">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="id" type="xs:int" minOccurs="0"/>
        <xs:element name="studentId" type="xs:int"/>
        <xs:element name="courseId" type="xs:int"/>
        <xs:element name="grade">
	        <xs:simpleType>
		        <xs:restriction base="xs:decimal">
			        <xs:minInclusive value="-1"/>
			        <xs:maxInclusive value="100"/>
		        </xs:restriction>
	        </xs:simpleType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>