Presentation/Schemas/operationClaim.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="OperationClaim">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="id" type="xs:int" minOccurs="0"/>
        <xs:element name="name" type="xs:string"/>
        <xs:element name="description" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>