Presentation/Schemas/teacherLogin.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="TeacherLoginDto">
    <xs:complexType>
      <xs:sequence>
	    <xs:element name="email">
		    <xs:simpleType>
			    <xs:restriction base="xs:string">
				    <xs:pattern value="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}"/>
			    </xs:restriction>
		    </xs:simpleType>
	    </xs:element>
        <xs:element name="password" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>