Presentation/Schemas/teacher.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="Teacher">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Id" type="xs:int"/>
        <xs:element name="FirstName" type="xs:string"/>
        <xs:element name="LastName" type="xs:string"/>
        <xs:element name="Email" type="xs:string"/>
        <xs:element name="PasswordHash" type="xs:base64Binary"/>
        <xs:element name="PasswordSalt" type="xs:base64Binary"/>
        <xs:element name="HireDate" type="xs:dateTime"/>
        <xs:element name="Department" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>